<a href="https://colab.research.google.com/github/Saividya5009/assignment-9/blob/master/assignment_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Write a Python program to get the largest & smallest number from a list.

In [ ]:
list=[1,4,5,7,8,4,5,8,9]
max(list)

9

In [ ]:
list=[1,4,5,7,8,4,5,8,9]
min(list)

1

2.	Write a Python program to remove duplicates from a list.

In [ ]:
list=[1,2,3,4,5,2,3,1,5,6,7,8,7,6]
duplicate_list=[ ]
for n in list:
  if n not in duplicate_list:
    duplicate_list.append(n)
print(duplicate_list)

[1, 2, 3, 4, 5, 6, 7, 8]

3.	Write a Python program to check a list is empty or not.

In [ ]:
l=[ ]
if len(l)==0:
  print("list is empty")
else:
  print("list is not empty")

list is empty

4.	Write a Python program to clone or copy a list.

In [ ]:
list=[1,4,5,7,8,4,5,8,9]
list=list1
print(list1)

[1, 2, 3, 4, 5, 2, 3, 1, 5, 6, 7, 8, 7, 6]

5.	Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.

In [ ]:
list=[1,3,4,5,6,7]
list=[x for (i,x) in enumerate(list) if i not in (0,4,5)]
print(list)

[3, 4, 5]

6.	Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [ ]:
list=[4,5,7,8,7,32,5,4,87,65,44]
for i in list:
  if i%2==0:
    list.remove(i)
print(list)

[5, 7, 7, 5, 87, 65]

7.	Write a Python program to shuffle and print a specified list.

In [ ]:
import random
list=[1,3,4,6,7,4,8]
random.shuffle(list)
print(list)

[1, 4, 4, 7, 8, 3, 6]

8.	Write a Python program to get the difference between the two lists.

In [3]:
list1=[10,34,5,63,78,5,3]
list2=[1,4,5,6,8,4,2]
list3=[]
for i in list1:
  if i not in list2:
    list3.append(i)
print(list3)

[10, 34, 63, 78, 3]